@mixin mediaQueries($count, $viewportWidth) {
  @media only screen and (max-width: $viewportWidth) {
    .cardContainer {
      @include gridTemplates($count);
    }
  }  
}

@mixin gridTemplates($count) {
  grid-template-columns: repeat($count, minmax(0, 1fr));
}

.cardContainer {
    display: grid;
    margin: 2rem auto;
   @include gridTemplates(3);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
  }

 @include mediaQueries(2, 960px);
 @include mediaQueries(1, 600px);