.container {
  min-height: 100vh;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
}

.subnav {
  display: flex;
  justify-content: space-between;
}

.main {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadFormContainer {
  padding: 2rem;
  max-width: 28rem;
  background-color: white;
  position: absolute;
  right: 4rem;

  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.25);
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.25);

  &[data-show-form=false] {
    display: none;
  }

  &[data-show-form=true] {
    display: flex;
  }
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.submitButton,
input.fileUpload {
  border: 0.0625rem solid transparent;
  padding: calc(0.875rem - 3px) 60px calc(0.875rem - 3px) 12px;
  transition: all 70ms cubic-bezier(0, 0, 0.38, 0.9);
  font-size: 0.875rem;
  line-height: 1.75;
  border-radius: 0;
  min-height: 2.5rem;
  text-align: left;
  cursor: pointer;
}

.submitButton {
  margin-top: 2rem;
  color: white;
  background-color: #0f62fe;
}

.notifications {
  display: flex;
  width: 100%;
  margin: 2rem 0;
  background-color: yellowgreen;
  color: white;
  border: 1px solid green;
  height: 4rem;
  justify-content: center;
  align-items: center;
}